{% extends "layout.html" %}
{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow p-3 mb-3 bg-white rounded">
            <h5>Total Members</h5>
            <h2>{{ total_members }}</h2>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow p-3 mb-3 bg-white rounded">
            <h5>Today's Collection</h5>
            <h2>₹{{ today_collection }}</h2>
        </div>
    </div>

</div>

<hr>

<a href="/members" class="btn btn-primary">Manage Members</a>
<a href="/daily" class="btn btn-success">Daily Entry</a>
<a href="/report" class="btn btn-warning">Monthly Report</a>

{% endblock %}